<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicoding Restaurant</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">

</head>
<body>
    <header class="header">
        <div class="header_inner">
            <div class="header_title">
                Dicoding's Restaurant
            </div>
        </div>
        <a id="menu" class="header_menu">☰</a>
    </header>
   
    <nav id="drawer" class="nav">
        <div class="nav_list">
            <li class="nav_item"><a href="#">Home</a></li>
            <li class="nav_item"><a href="#">About</a></li>
            <li class="nav_item"><a href="#">Contact</a></li>
        </div>
    </nav>
    <div class="hero" id="hero">
        <div class="hero_inner">
            <h1 class="hero_title">Wellcome to Dicoding's Restaurant<h1/>
            <p class="hero_tagline">Menghadirkan Masakan tradisional dari seluruh indonesia</p>
        </div>
    </div>
    <main>

    </main>
    <footer>
        <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Address</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>
</body>
</html>
