<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicoding Restaurant</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">

</head>
<body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header_inner">
            <div class="header_title">
                Dicoding's Restaurant
            </div>
        </div>
        <a id="menu" class="header_menu">☰</a>
    </header>
   
    <nav id="drawer" class="nav">
        <div class="nav_list">
            <li class="nav_item"><a href="#">Home</a></li>
            <li class="nav_item"><a href="#">Favorite</a></li>
            <li class="nav_item"><a href="#">About Us</a></li>
        </div>
    </nav>
    <div class="hero" id="hero">
        <div class="hero_inner">
            <h1 class="hero_title">Wellcome to Dicoding's Restaurant<h1/>
            <p class="hero_tagline">Menghadirkan Masakan tradisional dari seluruh indonesia</p>
        </div>
    </div>
    <main class="main-content" id="main-content">
        <div class="container">
            <div class="main" style="display: block;">
                <h2 class="title-container">List Menu</h2>
            <section id="list-rest">
               
            </section>
            </div>
        </div>
    </main>
    <footer>
       <p>Copyright © 2021 - Dicoding's Restaurant</p>
    </footer>
</body>
</html>
