<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicoding Restaurant</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">

</head>
<body>
    <header class="header">
        <div class="header_inner">
            <div class="header_title">
                Dicoding's Restaurant
            </div>
        </div>
        <a id="menu" class="header_menu">☰</a>
    </header>
   
    <nav id="drawer" class="nav">
        <div class="nav_list">
            <li class="nav_item"><a href="#">Home</a></li>
            <li class="nav_item"><a href="#">Favorite</a></li>
            <li class="nav_item"><a href="#">About Us</a></li>
        </div>
    </nav>
    <div class="hero" id="hero">
        <div class="hero_inner">
            <h1 class="hero_title">Wellcome to Dicoding's Restaurant<h1/>
            <p class="hero_tagline">Menghadirkan Masakan tradisional dari seluruh indonesia</p>
        </div>
    </div>
    <main class="main-content">
        <div class="container">
            <div class="main" style="display: block;">
                <h2 class="title-container">List Menu</h2>
            <section id="list-rest">
                <div class="card">
                    <a href="#">
                        <div class="img-container">
                            <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="Image Menu" class="img-res lazyloaded">
                            <span class="card-title">
                                <p>Melting Pot -Meda</p>
                            </span>
                            <span class="card-rating">
                                <i class="fa fa-star"></i>
                                <span>4.2</span>
                            </span>
                        </div>
                        <div class="card-content">
                            <p class="card-content-title">Description</p>
                            <p class="truncate">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic doloremque perferendis molestias neque omnis ea officia illum nisi a quis dolorum harum, cumque nihil, beatae exercitationem et, magnam reiciendis quisquam?
                            </p>
                        </div>
                    </a>
                </div>

                <div class="card">
                    <a href="#">
                        <div class="img-container">
                            <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="Image Menu" class="img-res lazyloaded">
                            <span class="card-title">
                                <p>Sore no O</p>
                            </span>
                            <span class="card-rating">
                                <i class="fa fa-star"></i>
                                <span>4.2</span>
                            </span>
                        </div>
                        <div class="card-content">
                            <p class="card-content-title">Description</p>
                            <p class="truncate">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic doloremque perferendis molestias neque omnis ea officia illum nisi a quis dolorum harum, cumque nihil, beatae exercitationem et, magnam reiciendis quisquam?
                            </p>
                        </div>
                    </a>
                </div>

                <div class="card">
                    <a href="#">
                        <div class="img-container">
                            <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="Image Menu" class="img-res lazyloaded">
                            <span class="card-title">
                                <p>Sore no O</p>
                            </span>
                            <span class="card-rating">
                                <i class="fa fa-star"></i>
                                <span>4.2</span>
                            </span>
                        </div>
                        <div class="card-content">
                            <p class="card-content-title">Description</p>
                            <p class="truncate">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic doloremque perferendis molestias neque omnis ea officia illum nisi a quis dolorum harum, cumque nihil, beatae exercitationem et, magnam reiciendis quisquam?
                            </p>
                        </div>
                    </a>
                </div>

                <div class="card">
                    <a href="#">
                        <div class="img-container">
                            <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29" alt="Image Menu" class="img-res lazyloaded">
                            <span class="card-title">
                                <p>The only One</p>
                            </span>
                            <span class="card-rating">
                                <i class="fa fa-star"></i>
                                <span>4.2</span>
                            </span>
                        </div>
                        <div class="card-content">
                            <p class="card-content-title">Description</p>
                            <p class="truncate">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic doloremque perferendis molestias neque omnis ea officia illum nisi a quis dolorum harum, cumque nihil, beatae exercitationem et, magnam reiciendis quisquam?
                            </p>
                        </div>
                    </a>
                </div>
            </section>
            </div>
        </div>
    </main>
    <footer>
        <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Address</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>
</body>
</html>
